<link href="/view/css/main.css" rel="stylesheet" />

<div id="wrapper">
    <button class="simple-button generate">Generate Images</button>
    <button class="simple-button generate-train">Generate Train Data</button>
    <button class="simple-button train">Train Neural Network</button>
    <input type="file" />
</div>

<div class="log">
    
</div>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
 <script src="/view/js/main.js"></script>
